$dark: rgb(48, 48, 48);
$light: rgb(209, 209, 209);

.wrapper{
  min-height: 95vh;
  padding: 70px 10px;
  padding-top: 120px;
  background-color: rgb(168, 168, 168);
}
.form_container{
  background-color: rgb(235, 235, 235);
  position: relative;
  border-radius: 50px;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  height: fit-content;
  padding: 20px 30px;

  .slider_container{
    margin: 20px 0;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    position: relative;
    // background-color: red;
    color: white;
    border-radius: 50px;
    // box-shadow:  1px 1px 3px 1px orangered, inset -1px -1px 3px 1px orangered;
    box-shadow: 0 0 10px 2px white;
    border: 1px solid orangered;
    .link{
      margin: 0;
      border: 0;
      // background-color: red;
      width: 100%;
      // border: 2px solid white;
      padding: 13px 20px;
      
      display: inline-flex;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-size: 25px;
      position: relative;
      z-index: 1;
    }
    .slider{
      position: absolute;
      background: orangered;
      background: linear-gradient(to right, orange, red);
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      border-radius: 30px;
      width: 50%;
      transition: 0.3s;
    }
  }
  .padding{
    width: 100%;
    background-color: transparent;
    z-index: -1;
  }
  form{
    width: calc(100% - 60px);
    position: absolute;
    top: 125px;
    margin: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    .input_field{
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      input{
        height: 55px;
        width: 100%;
        border: 0;
        outline: none;
        border-radius: 5px;
        background-color: white;
        padding-top: 15px;
        padding-left: 10px;
        font-size: 20px;
        color: $dark;
        // color: $light;
      }
      label{
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 55px;
        bottom: 0;
        left: 10px;
        text-transform: uppercase;
        .label{
          font-size: 16px;
          font-weight: 100;
          letter-spacing: 1px;
          font-family: sans-serif;
          position: absolute;
          transition: all 0.2s ease;
          color: $dark;
          // color: $light;
          left: 0px;
          top: 55%;
          transform: translateY(-50%);
          .star{
            display: inline-block;
            top: -5px;
            right: -1px;
            position: relative;
            color: red;
            font-size: 12px;
          }
        }
      }
    }
    .submit_btn{
      margin-top: 26px;
      width: 100%;
      padding: 11px;
      font-size: 25px;
      border: 1px solid rgb(95, 95, 95);
      outline: 0;
      border-radius: 5px;
      background: orangered;
      color: white;
      background: linear-gradient(to right, orange, red);
      // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
  }
  .register_form{
    left: 500px;
    .captcha_wrapper{
      border: 1px solid rgb(95, 95, 95);
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin: auto;
      padding: 10px;
      .captcha{        
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        input[type="checkbox"]{
          height: 25px;
          width: 25px;
        }
        label{
          margin-left: 10px;
        }
      }
      .captcha_img{
        margin-left: 20px;
        height: 40px;
        width: 40px;
        background-color: red;
      }
    }
  }
  .login_form{
    left: 30px;
    .etc{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .remember{
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        input[type="checkbox"]{
          height: 16px;
          width: 16px;
        }
        label{
          margin-left: 5px;
        }
      }
      .forget{
        margin-right: 5px;
      }
    }
  }
}


