.addItems{
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  *{
    border: 0;
    padding: 0;
    margin: 0;
  }
  span{
    display: inline-flex;
  }
  .plus{
    font-size: 30px;
    width: 37px;
    color: orangered;
    font-weight: bold;
    padding: 0;
  }
  .dashedLine{
    border-bottom: 5px dashed orangered;
    width: calc(100% - 90px);
  }
  .dot{
    font-size: 35px;
    width: 40px;
    color: orangered;
  }
}