// light
$lightLeft: rgb(255, 255, 255);
$lightRight: rgb(90, 90, 90);
$lightTextBg: rgb(90, 90, 90);
$lightTextBg1: rgb(43, 52, 61);
$lightTextColor: rgb(49, 51, 42);
$lightSecTitle: rgb(40, 40, 40);
$lightResumeTitle: rgb(0, 0, 0);
$lightName: rgb(205, 203, 204);
$titlefontFamily: "Merriweather", serif;
$generalfontfamily: "Roboto", sans-serif;
// dark

@import "./AddItem";
@import "./InputStyles";

.resume {
  * {
    // border: 1px solid black;
  }
  input {
    border: 0;
    outline: none;
  }
  cursor: auto;
  .secTitle {
    width: 100%;
    font-size: 22px;
    background-color: $lightSecTitle;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 4px;
    letter-spacing: 2px;
    font-family: $titlefontFamily;
  }
  .resumeSec {
    padding: 10px 25px;
    padding-bottom: 15px;
    .secContent {
    }
  }
  .left {
    .resumeSec {
      padding: 10px 6%;
      padding-bottom: 15px;
    }
  }
}

.resume {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 25px 4px rgb(100, 100, 100);
  min-width: 1120px;
  width: 1120px;
  height: 1585px;
}
.left {
  background-color: $lightLeft;
  width: 55%;
  .personalInfo.resumeSec {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    padding-right: 6%;
    padding-left: 0;
    .resumeTitle {
      font-size: 2.3rem;
      margin-left: 6%;
      color: black;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 20px;
      font-family: $titlefontFamily;
      font-style: italic;
    }
    .imgboxOuter {
      width: 100%;
      min-width: fit-content;
      padding-left: 6.4%;
      background-color: $lightRight;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .imgboxInner {
        width: 100%;
        background-color: $lightSecTitle;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 30px;
        padding-right: 5px;
        .imgbox_wrapper {
          position: relative;
          background-color: blue;
          .imgbox {
            min-width: 160px;
            min-height: 180px;
            background-color: rgb(208, 208, 208);
            border: 1px solid white;
            overflow: hidden;
            // background-image: url(../../media/images/dp.png);
            background-position: 44% 32%;
            background-repeat: no-repeat;
            background-size: 170%;
            img {
              width: 300px;
            }
          }
        }
        .myinfo {
          text-align: center;
          margin: auto;
          padding: 5px;
          white-space: nowrap;
          .myName {
            color: rgb(185, 185, 185);
            font-size: 50px;
            padding-bottom: 18px;
            margin-top: -17px;
            font-family: "Ubuntu", sans-serif;
          }
          .profession {
            color: rgb(240, 240, 240);
            font-size: 30px;
            font-weight: 500;
            // font-family: ;
          }
        }
      }
    }
    .tagline {
      padding: 15px 0;
      font-size: 20px;
      margin-left: 6%;
      font-weight: 500;
      color: $lightTextColor;
      text-align: center;
      font-family: $generalfontfamily;
      // span{
      //     font-weight: 500;
      // }
    }
  }

  .technicalSkills {
    .technicalSkill {
      display: inline-flex;
      background-color: $lightTextBg1;
      color: white;
      padding: 5px 13px;
      margin: 5px;
      font-size: 18px;
      font-weight: 500;
      font-family: $generalfontfamily;
      transition: all 0.2s ease;
      &:hover {
        background-color: hsl(210, 17%, 10%);
      }
    }
  }

  .progLangs {
    * {
      // border: 1px solid;
    }
    .marking {
      position: relative;
      width: 70%;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      padding: 0 4px;
      margin-bottom: -7px;
      span {
        width: 2px;
        height: 7px;
        background-color: $lightSecTitle;
      }
    }
    span {
      display: inline-flex;
    }
    .progLang {
      // background-color: yellow;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        // background-color: blue;
        font-size: 18px;
        font-weight: 700;
        color: $lightTextColor;
        width: 30%;
        padding: 5px 0;
        text-transform: uppercase;
        font-family: $generalfontfamily;
        margin-left: 2px;
      }
      .outer {
        padding: 1px;
        border: 2px solid black;
        width: 70%;
      }
      .inner {
        background-color: $lightTextBg1;
        height: 10px;
        width: 100%;
      }
    }
  }

  .myJourney {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    * {
      // border: 1px solid ;
    }
    .myJourneyItem {
      margin-right: -10px;
      position: relative;
      width: 80%;
      border-left: 5px solid $lightTextBg1;
      color: $lightTextColor;
      padding: 10px;
      padding-right: 0;
      padding-bottom: 25px;
      font-family: $generalfontfamily;
      .time {
        font-size: 18px;
        position: absolute;
        left: -146px;
        width: 130px;
        text-align: right;
      }
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        word-break: break-all;
        white-space: wrap;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
        span:first-child {
          position: absolute;
          display: inline-flex;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          left: -19px;
          top: 7px;
          border: 1px solid rgb(255, 255, 255);
          background-color: $lightTextBg1;
        }
        > .divider {
          margin: 0 7px;
        }
        span:nth-child(2) {
          color: white;
          padding: 3px 5px;
          background-color: $lightTextBg1;
        }
      }
      .desc {
        font-size: 18px;
      }
    }
  }
}
.right {
  width: 45%;
  background-color: $lightRight;
  .contactDetails {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    padding-top: 20px;
    a {
      display: flex;
      line-height: 30px;
      color: white;
      transition: all 0.2s ease;
      padding-left: 10px;
      span:first-child {
        position: relative;
        margin-top: 5px;
        width: 55px;
        // color: $lightTextBg1;
      }
      span:last-child {
        position: relative;
        white-space: nowrap;
      }
    }

    .bottomBorder {
      width: 80%;
      height: 2px;
      background-color: rgb(190, 190, 190);
      margin: auto;
      margin-top: 20px;
    }
  }

  .projects {
    .projectItem:last-child {
      margin-bottom: 0;
    }
    .projectItem {
      margin: 30px 0;
      font-family: $generalfontfamily;
      // font-family: sans-serif;
      .title {
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin: 6px 0;
        margin-bottom: 8px;
        font-weight: 700;
        span {
          padding: 3px 5px;
        }
        span:first-child {
          padding: 0 5px;
          color: $lightTextColor;
          background-color: rgb(200, 200, 200);
        }
        span:nth-child(2) {
          margin-left: 7px;
        }
      }
      .desc {
        color: $lightTextColor;
        // color: white;
        background-color: rgb(235, 235, 235);
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        margin-left: 25px;
        .link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5px;
          text-decoration: underline;
          button {
            background-color: rgb(200, 200, 200);
            color: $lightTextColor;
            padding: 2px 20px;
            letter-spacing: 2px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .langs {
    > .secContent {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    .lang {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      margin: 5px 0;
      width: 48%;
      font-family: $generalfontfamily;
      span {
        display: inline;
        margin: 2px 5px;
      }
      .title {
        font-size: 22px;
        font-weight: 700;
        color: white;
      }
      .level {
        padding: 3px 10px;
        font-size: 16px;
        margin: 2px 6px;
        font-weight: 500;
        // white-space: nowrap;
        color: $lightTextColor;
        background-color: white;
        &:hover {
          background-color: rgb(221, 221, 221);
        }
      }
    }
  }

  .edus {
    * {
      // border: 1px solid;
    }
    .edu {
      font-family: $generalfontfamily;
      color: white;
      margin-top: 25px;
      * {
        // border: 1px solid white;
      }
      .r1 {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        span {
          display: inline-flex;
        }
        span:nth-child(2) {
          font-size: 25px;
        }
        .title {
          width: 55%;
          background-color: white;
          color: $lightTextColor;
          padding: 5px;
          margin-right: 10px;
        }
        .institute {
          position: relative;
          width: 35%;
          top: -10px;
          margin-left: 10px;
          font-size: 18px;
        }
      }
      .r2 {
        padding: 0;
        font-size: 20px;
        font-weight: 500;
        // background-color: purple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cgpa {
          // padding: 5px 0;
          font-size: 23px;
          // font-weight: bold;
        }
        .time {
        }
        .place {
          margin-right: 5px;
        }
      }
    }
  }

  .interests {
    .interest {
      display: inline-flex;
      color: $lightTextColor;
      background-color: white;
      font-family: $generalfontfamily;
      font-weight: 500;
      padding: 5px 9px;
      font-size: 19px;
      margin: 5px;
    }
  }
}
