.addItems {
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.addItems * {
  border: 0;
  padding: 0;
  margin: 0;
}
.addItems span {
  display: inline-flex;
}
.addItems .plus {
  font-size: 30px;
  width: 37px;
  color: orangered;
  font-weight: bold;
  padding: 0;
}
.addItems .dashedLine {
  border-bottom: 5px dashed orangered;
  width: calc(100% - 90px);
}
.addItems .dot {
  font-size: 35px;
  width: 40px;
  color: orangered;
}

.resume form {
  padding: 1px 0;
  padding-right: 3px;
}
.resume form .input_fields {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume form input {
  border: 1px solid black;
  margin: 0 2px;
}
.resume form .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume form .icons span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  color: green;
  font-size: 22px;
  padding: 3px;
  margin: 0 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.resume form .icons span:hover {
  transform: scale(1.1);
}
.resume form .icons span:first-child {
  color: green;
}
.resume form .icons span:last-child {
  color: red;
}

.secTitleInput {
  background-color: rgb(40, 40, 40);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.secTitleInput input {
  width: 100%;
  font-size: 22px;
  background-color: hsl(210deg, 17%, 10%);
  color: white;
  padding: 2px 0;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Merriweather", serif;
}
.secTitleInput span {
  color: green;
  font-size: 32px;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.secTitleInput span:hover {
  transform: scale(1.1);
}

.techSkillInput, .interestInput, .progLangInput {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.techSkillInput input, .interestInput input, .progLangInput input {
  width: 175px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 3px 0;
  text-align: center;
}

.techSkillInput {
  background-color: rgb(43, 52, 61);
}
.techSkillInput input {
  background-color: hsl(210deg, 17%, 10%);
  color: white;
}

.interestInput {
  background-color: white;
}
.interestInput input {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 52, 61);
}

.progLangInput {
  width: 30%;
  margin: 0;
  margin-right: 2px;
  background-color: rgb(43, 52, 61);
}
.progLangInput input {
  font-size: 15px;
  padding: 5px 0;
  text-align: left;
  width: 100%;
  border: 0;
  background-color: rgb(234, 234, 234);
  text-transform: uppercase;
}
.progLangInput span {
  margin: 0 1px;
  color: green;
}

form.myJourneyInput {
  background-color: rgb(43, 52, 61);
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  display: flex;
  width: 100%;
  padding: 1px;
  margin: 5px 0;
}
form.myJourneyInput .input_fields {
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
form.myJourneyInput .input_fields input, form.myJourneyInput .input_fields textarea, form.myJourneyInput .input_fields label {
  padding: 4px;
  margin: 4px 0;
}
form.myJourneyInput .input_fields .inputYear {
  padding-right: 10px;
  width: 32%;
  text-align: center;
}
form.myJourneyInput .input_fields .inputYear input {
  width: 100%;
}
form.myJourneyInput .input_fields .inputYear .present {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
form.myJourneyInput .input_fields .inputYear .present input {
  height: 20px;
  width: 20px;
}
form.myJourneyInput .input_fields .main_details {
  padding: 0 10px;
}
form.myJourneyInput .input_fields .main_details .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form.myJourneyInput .input_fields .main_details .top input:first-child {
  font-size: 20px;
  font-weight: bold;
  width: 54%;
  background-color: rgb(43, 52, 61);
  color: white;
}
form.myJourneyInput .input_fields .main_details .top input:last-child {
  width: 45%;
  font-size: 18px;
}
form.myJourneyInput .input_fields .main_details textarea {
  height: 100%;
  width: 100%;
  max-width: 340px;
  min-width: 340px;
  max-height: 70px;
  min-height: 70px;
}
form.myJourneyInput .icons {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 3px;
}
form.myJourneyInput .icons span {
  margin: 3px;
}

.resume {
  cursor: auto;
}
.resume input {
  border: 0;
  outline: none;
}
.resume .secTitle {
  width: 100%;
  font-size: 22px;
  background-color: rgb(40, 40, 40);
  color: white;
  margin-bottom: 15px;
  text-align: center;
  padding: 4px;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
}
.resume .resumeSec {
  padding: 10px 25px;
  padding-bottom: 15px;
}
.resume .left .resumeSec {
  padding: 10px 6%;
  padding-bottom: 15px;
}

.resume {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 0px 25px 4px rgb(100, 100, 100);
  min-width: 1120px;
  width: 1120px;
  height: 1585px;
}

.left {
  background-color: rgb(255, 255, 255);
  width: 55%;
}
.left .personalInfo.resumeSec {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10px;
  padding-right: 6%;
  padding-left: 0;
}
.left .personalInfo.resumeSec .resumeTitle {
  font-size: 2.3rem;
  margin-left: 6%;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-family: "Merriweather", serif;
  font-style: italic;
}
.left .personalInfo.resumeSec .imgboxOuter {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 6.4%;
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner {
  width: 100%;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  padding-right: 5px;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner .imgbox {
  min-width: 160px;
  min-height: 180px;
  background-color: rgb(208, 208, 208);
  border: 1px solid white;
  overflow: hidden;
  background-position: 44% 32%;
  background-repeat: no-repeat;
  background-size: 170%;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner .imgbox img {
  width: 300px;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner .myinfo {
  text-align: center;
  margin: auto;
  padding: 5px;
  white-space: nowrap;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner .myinfo .myName {
  color: rgb(185, 185, 185);
  font-size: 50px;
  padding-bottom: 18px;
  margin-top: -17px;
  font-family: "Ubuntu", sans-serif;
}
.left .personalInfo.resumeSec .imgboxOuter .imgboxInner .myinfo .profession {
  color: rgb(240, 240, 240);
  font-size: 30px;
  font-weight: 500;
  font-family: mer;
}
.left .personalInfo.resumeSec .tagline {
  padding: 15px 0;
  font-size: 20px;
  margin-left: 6%;
  font-weight: 500;
  color: rgb(49, 51, 42);
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.left .technicalSkills .technicalSkill {
  display: inline-flex;
  background-color: rgb(43, 52, 61);
  color: white;
  padding: 5px 13px;
  margin: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
}
.left .technicalSkills .technicalSkill:hover {
  background-color: hsl(210deg, 17%, 10%);
}
.left .progLangs span {
  display: inline-flex;
}
.left .progLangs .progLang {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left .progLangs .progLang .title {
  font-size: 18px;
  font-weight: 700;
  color: rgb(49, 51, 42);
  width: 30%;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-left: 2px;
}
.left .progLangs .progLang .progressBarOuter {
  padding: 1px;
  border: 2px solid black;
  width: 70%;
}
.left .progLangs .progLang .progressBarInner {
  background-color: rgb(43, 52, 61);
  height: 10px;
  width: 100%;
}
.left .myJourney {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.left .myJourney .myJourneyItem {
  margin-right: -10px;
  position: relative;
  width: 80%;
  border-left: 5px solid rgb(43, 52, 61);
  color: rgb(49, 51, 42);
  padding: 10px;
  padding-right: 0;
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
}
.left .myJourney .myJourneyItem .time {
  font-size: 18px;
  position: absolute;
  left: -146px;
  width: 130px;
  text-align: right;
}
.left .myJourney .myJourneyItem .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.left .myJourney .myJourneyItem .title span:first-child {
  position: absolute;
  display: inline-flex;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  left: -19px;
  top: 7px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(43, 52, 61);
}
.left .myJourney .myJourneyItem .title span:nth-child(2) {
  color: white;
  padding: 3px 5px;
  background-color: rgb(43, 52, 61);
}
.left .myJourney .myJourneyItem .desc {
  font-size: 18px;
}

.right {
  width: 45%;
  background-color: rgb(90, 90, 90);
}
.right .contactDetails {
  font-size: 24px;
  font-weight: 400;
  color: rgb(230, 230, 230);
  font-family: sans-serif;
  padding: 30px;
}
.right .contactDetails a {
  display: flex;
  line-height: 37px;
  color: white;
  transition: all 0.2s ease;
}
.right .contactDetails a span:first-child {
  position: relative;
  margin-top: 5px;
  width: 55px;
}
.right .contactDetails a span:last-child {
  position: relative;
  white-space: nowrap;
}
.right .contactDetails .bottomBorder {
  width: 80%;
  height: 2px;
  background-color: rgb(190, 190, 190);
  margin: auto;
  margin-top: 20px;
}
.right .projects .projectItem:last-child {
  margin-bottom: 0;
}
.right .projects .projectItem {
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
}
.right .projects .projectItem .title {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 6px 0;
  margin-bottom: 8px;
  font-weight: 700;
}
.right .projects .projectItem .title span {
  padding: 3px 5px;
}
.right .projects .projectItem .title span:first-child {
  padding: 0 5px;
  color: rgb(49, 51, 42);
  background-color: rgb(200, 200, 200);
}
.right .projects .projectItem .title span:nth-child(2) {
  margin-left: 7px;
}
.right .projects .projectItem .desc {
  color: rgb(49, 51, 42);
  background-color: rgb(235, 235, 235);
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  margin-left: 25px;
}
.right .langs .lang {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin: 5px 0;
  width: 49%;
  font-family: "Roboto", sans-serif;
}
.right .langs .lang span {
  display: inline;
  margin: 2px 5px;
}
.right .langs .lang .title {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.right .langs .lang .level {
  padding: 3px 10px;
  font-size: 16px;
  margin: 2px 6px;
  font-weight: 500;
  color: rgb(49, 51, 42);
  background-color: white;
}
.right .langs .lang .level:hover {
  background-color: rgb(221, 221, 221);
}
.right .langs .lang:nth-child(odd) {
  margin-left: 5px;
}
.right .edus .edu {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 25px;
}
.right .edus .edu .r1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.right .edus .edu .r1 span {
  display: inline-flex;
}
.right .edus .edu .r1 span:nth-child(2) {
  font-size: 25px;
}
.right .edus .edu .r1 .title {
  width: 55%;
  background-color: white;
  color: rgb(49, 51, 42);
  padding: 5px;
  margin-right: 10px;
}
.right .edus .edu .r1 .institute {
  position: relative;
  width: 35%;
  top: -10px;
  margin-left: 10px;
  font-size: 18px;
}
.right .edus .edu .r2 {
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right .edus .edu .r2 .cgpa {
  font-size: 23px;
}
.right .edus .edu .r2 .place {
  margin-right: 5px;
}
.right .interests .interest {
  display: inline-flex;
  color: rgb(49, 51, 42);
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 5px 9px;
  font-size: 19px;
  margin: 5px;
}/*# sourceMappingURL=Resume.module.css.map */