
.sec {
  min-height: 300px;
  // border: 2px solid white;
  *{
    // border: 2px solid white;
    // padding: 10px;
  }
}
.home_main{
  background-color: rgb(237, 237, 237);
  overflow: hidden;
  font-family: sans-serif;
}
.hero {
  padding-top: 70px;
}
.container {
  margin: auto;
  max-width: 1400px;
  width: 100%;
}
.content {
  max-width: 1200px;
  padding: 70px 30px ;
  margin: auto;
}

@import '../components/home/Hero/Hero';
@import '../components/home/Features/Features';
@import '../components/home/Procedure/Procedure';
@import '../components/home/Testimonial/Testimonial';

@media screen and (max-width: "576px") {
  .container{

    .content{
      padding: 50px 10px;   
    }
  }
}