.sec {
  min-height: 300px;
}
.home_main {
  background-color: rgb(237, 237, 237);
  overflow: hidden;
  font-family: sans-serif;
}

.hero {
  padding-top: 70px;
}

.container {
  margin: auto;
  max-width: 1400px;
  width: 100%;
}

.content {
  max-width: 1200px;
  padding: 70px 30px;
  margin: auto;
}

.hero {
  background: rgb(255, 255, 255);
  background-image: linear-gradient(70deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.05) 65%, rgba(254, 254, 254, 0) 100%), url(../media/images/triangles-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 86%, 48% 100%, 0 86%);
          clip-path: polygon(0 0, 100% 0%, 100% 86%, 48% 100%, 0 86%);
}
.hero .container {
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  max-width: 100%;
}
.hero .container .content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container .content .left_section {
  min-height: 450px;
  min-width: 300px;
  flex-basis: 55%;
  max-width: 100%;
  flex-grow: 1;
  font-family: sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.hero .container .content .left_section h1 {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: bold;
  padding: 20px 0;
}
.hero .container .content .left_section p {
  padding: 20px 0;
  font-size: 22px;
  line-height: 35px;
}
.hero .container .content .left_section button {
  border: 0;
  outline: none;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px 35px;
  font-size: 25px;
  background-color: rgb(255, 60, 0);
  color: white;
}
.hero .container .content .right_section {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 450px;
}
.hero .container .content .right_section .resumebg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 400px;
  height: 450px;
  transform: skew(-7deg);
  position: absolute;
}
.hero .container .content .right_section .resumebg .first, .hero .container .content .right_section .resumebg .second {
  position: absolute;
  width: 310px;
  height: 430px;
  border: 5px solid orangered;
}
.hero .container .content .right_section .resumebg .first {
  z-index: 10;
  border-bottom: 0;
  border-right: 0;
}
.hero .container .content .right_section .resumebg .second {
  z-index: 30;
  border-left: 0;
  border-top: 0;
}
.hero .container .content .right_section .resumebg .imgbox {
  position: relative;
  z-index: 20;
  transform: skew(7deg);
  height: 400px;
  background-image: url(../media/images/resumepic.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 283px;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.05) 65%, rgba(254, 254, 254, 0) 100%), url(../media/images/triangles-bg.png);
  }
  .hero .container .content {
    flex-direction: column;
  }
  .hero .container .content .left_section {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }
  .hero .container .content .left_section h1 {
    font-size: 50px;
  }
}
.features {
  background-color: transparent;
  color: rgb(32, 32, 32);
  background-color: rgb(237, 237, 237);
}
.features .container .sec_title {
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  color: rgb(48, 48, 48);
}
.features .content {
  padding: 70px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .content .left_section {
  flex-basis: 55%;
  max-height: 600px;
  background-image: url(../media/images/resumebg.svg);
  background-size: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 600px;
}
.features .content .right_section {
  flex-basis: 45%;
  padding-left: 15px;
}
.features .content .right_section .feature {
  background-color: rgb(199, 199, 199);
  margin: 25px 0;
  padding: 20px 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(128, 128, 128);
}
.features .content .right_section .feature h2 {
  margin: 10px 0;
  display: inline-flex;
  color: rgb(24, 24, 24);
}
.features .content .right_section .feature h2 > span {
  position: relative;
  margin-right: 10px;
  display: inline-flex;
  color: darkgreen;
  font-size: 30px;
}
.features .content .right_section .feature p {
  margin-left: 43px;
  font-size: 20px;
  line-height: 27px;
}
.features .content .right_section .feature p span {
  font-style: italic;
}

@media screen and (min-width: 1300px) {
  .features .container .content .left_section {
    min-height: 600px;
  }
}
@media screen and (max-width: 768px) {
  .features .container .content {
    flex-direction: column;
  }
  .features .container .content .left_section {
    width: 100%;
    min-height: 80vw;
  }
  .features .container .content .right_section {
    padding: 0;
  }
}
.procedure {
  background-color: blue;
}
.procedure .container {
  padding-bottom: 70px;
}
.procedure .container .sec_title {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  color: rgb(225, 225, 225);
}
.procedure .content {
  background-size: 750px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.procedure .content .top_section {
  display: flex;
}
.procedure .content .top_section .step {
  width: 33%;
  background-color: rgb(199, 199, 199);
  margin: 10px;
  padding: 20px 10px;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.4);
  border: 1px solid rgb(76, 76, 76);
}
.procedure .content .top_section .step h2 {
  margin: 10px 0;
  display: inline-flex;
  color: rgb(24, 24, 24);
}
.procedure .content .top_section .step h2 > span {
  margin-right: 10px;
  position: relative;
  display: inline-flex;
  color: darkgreen;
  font-size: 30px;
}
.procedure .content .top_section .step p {
  margin-left: 43px;
  font-size: 20px;
  line-height: 27px;
}
.procedure .content .top_section .step p span {
  font-style: italic;
}
.procedure .content .bottom_section {
  background-image: url(../media/images/desktop-with-resume.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: 75%;
  min-height: 53vw;
}

@media screen and (min-width: 1300px) {
  .procedure .container .content .bottom_section {
    min-height: 630px;
  }
}
@media screen and (max-width: 768px) {
  .procedure .container .content {
    padding-bottom: 0;
  }
  .procedure .container .content .top_section {
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .procedure .container .content .top_section .step {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container .content {
    padding: 50px 10px;
  }
}/*# sourceMappingURL=Home.module.css.map */