.sec {
  min-height: 300px;
  border: 2px solid white;
  *{
    border: 2px solid white;
    padding: 10px;
  }
}

.hero {
  padding-top: 90px;
}
.container {
  margin: auto;
  max-width: 1400px;
  width: 100%;
}
.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  *{
    border: 1px solid white;
    padding: 5px ;
  }
  .resume{
    font-size: 22px;
    width: 60%;
    height: fit-content;
    text-align: center;
    .resumeSec{
      min-height: 300px;
      margin: 10px;
      .secTitle{
        width: calc(100% );
        margin: 20px 0;
      }
      .data_container1, .data_container2{
        min-height: 200px;
      }
      .data_container2{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        a{
          margin: 10px;
          span{

            background-color: black;
            color: wheat;
            font-size: 30px;
          }
          span:first-child{
          }
          span:last-child{

          }
        }
      }
    }
  }
}
.technicalSkill{
  margin: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}
.secTitleInput{
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 20px;
 background-color: rgb(71, 71, 71);
 input{
  color: white;
 }
 .icon{
  padding: 0;
  font-size: 30px;
 }
}
.addNewItems{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .plus{
    border: 5px solid rgb(13, 0, 255);
    color: blue;
    border-radius: 50%;
    font-size: 45px;
    // font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }
  .dashLine{
    display: inline-flex;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    border-bottom: 5px dotted rgb(255, 255, 255);
    // background-color: black;
    width: 200px;
    height: 0px;
  }
}
